:root {
    --parafont: Roboto Condensed, sans-serif;
    --parafontsize:1.2vw;
    --parasecfontsize:16px;
    --headfontsize:1.4vw;
    --loadingh1:40px;
    --loadingcontenth1:normal 900 79px/100px Arial MT;

  }