.result-flex-container2 {
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-left: 0;
  margin-right: 0%;
}
.result-flex-container2 .result-content .newResultImageContent {
  display: flex;
  flex-direction: row;
 /* background-image: linear-gradient(#336317, #76ce02); */
  color: #ffffff;
  justify-content: space-around;
}
.result-flex-container2
  .result-content
  .newResultImageContent
  .newResultContent {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
  padding: 1%;
  width: 30%;
}
.result-flex-container2 .result-content .newResultContent .result-box {
  padding: 1%;
  font-size: larger;
  font-style: normal;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}

.result-flex-container2 .result-content .newResultContent .score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.result-flex-container2 .result-content .newResultContent .score-container .result-score{
  padding: 5%;
  background-color: #ffffff;
  color: #000000; 
  font-size: larger;
  font-weight: bold;
  border: 1px;
  border-radius: 5%;
  width: 50%;
  
}

.result-flex-container2 .result-content .score-container1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 1%;
  justify-content: space-evenly;
  align-content: center;
}



.result-flex-container2 .result-flex-AddPanel1 {
  width: auto;
}

.result-flex-container2 .result-flex-AddPanel1 .result-Ad-R-2 {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-flex-container2 .result-flex-AddPanel1 .result-Ad-R-2 img {
  height: auto;
  width: auto;
  margin-right: 0;
  margin-bottom: 2%;
}

.result-flex-container2 .result-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1%;
}

.result-flex-container2 .result-content .result-Heading1 {
  width: auto;
  height: auto;
  font-size: 26px;
  font-weight: bold;
  color: rgb(49, 118, 247);
  padding: 0.5%;
  /* border: 1px solid rgb(196, 194, 194); */
}
.result-flex-container2 .result-content .result-Heading2 {
  width: auto;
  height: auto;
  font-size: 26px;
  font-weight: bold;
  color: rgb(49, 118, 247);
  padding: 0.5%;
}

.result-flex-container2 .result-content .result-scoreboard {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(196, 194, 194);
  width: auto;
  height: auto;
  padding: 1%;
}

.result-flex-container2 .result-content .result-scoreboard .result-Chart {
  display: block;
  height: auto;
  width: 20%;
  padding: 5px;
  border: 1px solid rgb(215, 229, 238);
}

.result-flex-container2
  .result-content
  .result-scoreboard
  .result-Chart
  .result-Doughnut {
  height: auto;
  width: 20%;
}

.result-flex-container2
  .result-content
  .result-scoreboard
  .result-listContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1%;
}
.result-flex-container2
  .result-content
  .result-scoreboard
  .result-listContainer
  .result-topList {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 1%;
  justify-content: space-evenly;
  align-self: center;
}
.result-flex-container2
  .result-content
  .result-scoreboard
  .result-listContainer
  .result-topList
  .result-firstlist {
  width: 100%;
  padding: 1%;
  font-size: 20px;
  font-weight: bold;
  color: rgb(7, 19, 34);
}

li {
  padding: 5px;
  list-style: none;
  margin-left: 0;
  text-align: left;
}

li.correct {
  background-color: rgb(175, 252, 175);
}
li.wrong {
  background-color: #f89797;
}
li.unselected {
  background-color: none;
}

.result-questionContent1 {
  overflow-y: scroll;
  max-height: 400px;
  padding: 0.5%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.result-Content-Text {
  color: #144f9c;
  font-weight: bold;
  margin-top: 0;
  padding: 1%;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
}

.result-questionBox {
  padding: 1%;
  text-align: left; 
}

.quizAnswercox1{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-image: url("../Asset/doodles.png");
}

::-webkit-scrollbar {
  display: none;
}
/* li.incorrect {
  background-color: rgb(245, 154, 154);
} */

.shareThisBtn button{
  padding: 10px 20px;
  background-color: #144f9c;
  color: white;
  border: 1px;
  border-radius: 10px;
  box-shadow: -0.3px 0.4px 9.5px #1d262eb8;
  cursor: pointer;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.anotherTestBtn button{
  padding: 10px 20px;
  background-color: #144f9c;
  color: white;
  border: 1px;
  border-radius: 10px;
  box-shadow: -0.3px 0.4px 9.5px #1d262eb8;
  cursor: pointer;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* For screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .result-flex-container2 {
    display: block;
    margin: 5px;
    }
    
    .result-flex-container2 .result-content .newResultImageContent {
    display: block;
    background-image: linear-gradient(#171d54, #005da4);
    color: #ffffff;
    text-align: center;
    }
    
    .result-flex-container2 .result-content .newResultImageContent .newResultContent {
    width: 100%;
    padding: 2% 0;
    }
    
    .result-flex-container2 .result-content .newResultContent .result-box {
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    }
    
    .result-flex-container2 .result-content .newResultContent .score-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
    
    .result-flex-container2 .result-content .newResultContent .score-container .result-score {
    padding: 5%;
    background-color: #ffffff;
    color: #000000;
    font-size: larger;
    font-weight: bold;
    border: 1px;
    border-radius: 2%;
    margin-bottom: 2%;
    width: 50%;
    }

  .result-flex-container2 .result-flex-AddPanel1 .result-Ad-R-2 {
    width: auto;
    margin-left: 0;
    margin-bottom: 1em;
  }

  .result-flex-container2 .result-content {
    padding: 2%;
  }

  .result-flex-container2 .result-content .result-scoreboard {
    flex-direction: column;
    width: 100%;
  }

  .result-flex-container2 .result-content .result-scoreboard .result-Chart {
    width: 50%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  .result-flex-container2
    .result-content
    .result-scoreboard
    .result-Chart
    .result-Doughnut {
    width: 50%;
  }

  .result-flex-container2
    .result-content
    .result-scoreboard
    .result-listContainer {
    padding: 0;
  }

  .result-flex-container2
    .result-content
    .result-scoreboard
    .result-listContainer
    .result-topList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .result-flex-container2
    .result-content
    .result-scoreboard
    .result-listContainer
    .result-topList
    .result-firstlist {
    text-align: center;
    margin-bottom: 3%;
  }

  .result-flex-container2
    .result-content
    .result-scoreboard
    .result-listContainer
    ul {
    width: 100%;
    margin: 0;
  }

  .result-questionContent {
    max-height: none;
    margin-top: 5%;
  }

  .result-Content-Text {
    margin-top: 10%;
  }

  li {
    padding: 2%;
  }

  .result-flex-container2 .result-content .result-Heading1 {
    font-size: 22px;
    margin-bottom: 5%;
  }

  .result-flex-container2 .result-content .result-Heading2 {
    font-size: 22px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .result-flex-container2 .result-flex-AddPanel1 .result-Ad-R-2 {
    height: auto;
    width: auto;
    margin-left: 0;
  }
  .result-flex-container2 .result-flex-AddPanel1 .result-Ad-R-2 img {
    width: 100%;
  }
}
