.scoreBoard-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1%;
  border: 5px solid #d3ebff;
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 10%;
  background-image: radial-gradient(#ffffff,#edfbff,#bae2ff, #45b2ff);}

.scoreBoard-container .title {
  padding: 1%;
  color: #0050a5;
  font-size: 36px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.scoreBoard-container .TopBoard-button {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 1%;
}

.scoreBoard-container .TopBoard-button .btn {
  background-color: #dfdfdf;
  font-size: medium;
  border: 1px solid #dfdfdf;
  padding: 1%;
  border-radius: 5%;
}
.scoreBoard-container .TopBoard-button .btn:hover {
  color: white;
  background-color: #005da4;
}

.scoreBoard-container .TopBoard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: auto;
  color: #fbfbfc;
  /* background-color: #ffffff; */
}
.scoreBoard-container .TopBoard .positions {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 50%;
  height: auto;
  color: #0050a5;
  font-weight: bolder;
  font-size: larger;
}

.scoreBoard-container .TopBoard .positions .rankImg {
  width: 50%;
  background-image: radial-gradient(#ffffff 25%, #ffffff00 75%);
}

.scoreBoard-container .TopBoard .positions .rankImg img {
  width: 100%;
  padding: 2%;
}

.scoreBoard-container .TopBoard .positions .rankHolderDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}
.scoreBoard-container .gridBoard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.scoreBoard-container .gridBoard .playerTag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(230, 238, 250);
  background-color: #ffffff;
}

.rank {
  margin-left: 10px;
}
.totalMarks {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .scoreBoard-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1%;
    border: 5px solid rgb(0 114 211);
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: -13%;
    background-image: radial-gradient(#e6fbff, #45b2ff);
  }

  .scoreBoard-container .title {
    padding: 1%;
    color: #0050a5;
    font-size: 30px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .scoreBoard-container .TopBoard {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: #fbfbfc;
    padding: 1%;
    /* background-color: #ffffff; */
  }
  .scoreBoard-container .TopBoard .positions {
    display: flex;
    justify-content: initial;
    flex-direction: row;
    background: #0052a9;
    border: 3px solid rgb(255 255 255);
    border-radius: 10px;
    width: 90%;
    height: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    box-shadow: 0.8px 0.4px 12.5px #333333b8;
  }

  .holderName {
    overflow-wrap: break-word;
  }
  .holderMark {
    text-align: center;
  }
  .scoreBoard-container .TopBoard .positions .rankImg {
    width: 30%;
  }
  .scoreBoard-container .TopBoard .positions .rankImg img {
    width: 100%;
    padding: 2%;
  }

  .scoreBoard-container .TopBoard .positions .rankHolderDetail {
    margin-left: 25%;
    color: rgb(255 255 255);
  }

  .scoreBoard-container .gridBoard{
    grid-gap: 10px;
    display: flex;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    flex-direction: column;
  }
}
